<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name='FizyTest.Utils.listeners.TestListener'/>
        <listener class-name='FizyTest.Utils.reports.ExtentReport'/>
    </listeners>
    <test verbose="2"  preserve-order="true" name="C:/Users/siram/Desktop/Fizy">
        <classes>
            <class name="TestCases.TC_001"/>

        </classes>
    </test>
</suite>